[submodule "nginx"]
	path = nginx
	url = https://github.com/c3s-magic/docker-term-letsencrypt.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/c3s-magic/c3s-magic-frontend.git
[submodule "esgfbrowser"]
	path = esgfbrowser
	url = https://github.com/c3s-magic/esgfbrowser.git
[submodule "climexp_numerical_wps"]
	path = climexp_numerical_wps
	url = https://github.com/c3s-magic/climexp_numerical_wps
