adaguc-services-compute/adaguc-services-compute-home/data/*
adaguc-services-compute/adaguc-services-compute-home/adaguc-services-tmp/*
adaguc-services-compute/adaguc-services-compute-home/wpsoutputs/*
adaguc-services-controller/adaguc-services-controller-home/adaguc-services-tmp
adaguc-services-controller/adaguc-services-controller-home/data/
adaguc-services-controller/adagucdb/
adaguc-services-controller/logs/
*.pyc
adaguc-services-controller/security/
adaguc-services-compute/security/
.env
