#This is the docker environment file.
#It should be copied to .env and filled out.

# CEDA OAUTH secret and client id
CEDA_OAUTHCLIENTSECRET=<Ask matt.pryor@stfc.ac.uk >
CEDA_OAUTHCLIENTID=<Ask matt.pryor@stfc.ac.uk >

#Email used on obtaining letsencrypt certificate
SSL_ADMIN_EMAIL=admin@mydomain.org

#Hostname used to run the portal. An invalid name will
#cause an invalid certificate but otherwise still works
EXTERNAL_HOSTNAME=host.domain.eu

#Location of the static datasets hosted by the portal
#Should contain a single folder "c3smagic" containing all data files
#Can be obtained from zenodo: https://doi.org/10.5281/zenodo.3367497
#Run the scan_adaguc-server_datasets.sh script if updated
STATIC_DATA_LOCATION=/some/data/location

#location of the data used for ESMValtool in the WPS (if build-in)
ESMVALTOOL_CMIP5=/data/cmip5
ESMVALTOOL_OBS=/data/obs

#URLs for the WPS services. By default run inside the portal
#machine, but externally deployed WPS services can also be used.
COPERNICUS_WPS_URL=http://wps:5000/wps?
CLIMEXP_WPS_URL=http://climexp_numerical_wps:5000/wps?"
