#Google oauth secret and client id
OAUTHCLIENTSECRET=aaaaasecret
OAUTHCLIENTID=00000000000042.apps.googleusercontent.com

#Email used on obtaining letsencrypt certificate
SSL_ADMIN_EMAIL=admin@mydomain.org

#Hostname used to run the portal. A invalid name (such as localportal)
#Will cause an invalid certificate but otherwise still works
#EXTERNAL_HOSTNAME=portal.c3s-magic.eu
EXTERNAL_HOSTNAME=localportal.c3s-magic.eu

#Location of the static datasets hosted by the portal
#Run the scan_adaguc-server_datasets.sh if updated
STATIC_DATA_LOCATION=/some/data/location
