#Google oauth secret and client id
OAUTHCLIENTSECRET=aaaaasecret
OAUTHCLIENTID=00000000000042.apps.googleusercontent.com

# CEDA OAUTH secret and client id
CEDA_OAUTHCLIENTSECRET=<Ask matt.pryor@stfc.ac.uk >
CEDA_OAUTHCLIENTID=<Ask matt.pryor@stfc.ac.uk >


#Email used on obtaining letsencrypt certificate
SSL_ADMIN_EMAIL=admin@mydomain.org

#Hostname used to run the portal. A invalid name (such as localportal)
#Will cause an invalid certificate but otherwise still works
#EXTERNAL_HOSTNAME=portal.c3s-magic.eu
EXTERNAL_HOSTNAME=localportal.c3s-magic.eu

#Location of the static datasets hosted by the portal
#Run the scan_adaguc-server_datasets.sh if updated
STATIC_DATA_LOCATION=/some/data/location

#location of the data used for ESMValtool
ESMVALTOOL_CMIP5=/data/cmip5
ESMVALTOOL_OBS=/data/obs
PUBLIC_DATA=/data/adaguc-data/c3smagic